NODE_ENV=development
TB_HOST=localhost:8080
TB_LOGIN_URL=api/auth/login
TB_DEVICE_ID=<uuid-del-dispositivo>
TB_USERNAME=tenant@thingsboard.org
TB_PASSWORD=tenant
RESEND_TIMEOUT=30000

DB_HOST=<host-de-la-base-de-datos>
DB_PORT=<puerto-de-la-base-de-datos>
DB_USERNAME=<usuario-de-la-base-de-datos>
DB_PASSWORD=<contraseña-del-usuario-de-la-base-de-datos>
DB_NAME=<nombre-de-la-base-de-datos>
